<div class="container-fluid" style="background-color: rgba(128, 128, 128, 0.5);">
    <div class="container-fluid">
        <h1 style="color: beige; text-align: center; padding: 5px ;background-color: black; font-family: 'Josefin Sans', sans-serif;">
            Sobre Nosotros
        </h1>
        <p style="font-family: 'Patrick Hand', cursive; font-size: larger;">
            Un oasis de paz y confort en donde la naturaleza está en completa armonía con la Arquitectura, paraíso tropical que 
			abre un espacio para todos los huéspedes. Creado para satisfacer las necesidades de los viajeros, que aprecian su 
			calidad en su máxima expresión, privacidad y el trato personalizado en un marco lleno de detalles y belleza.
        </p>
		<p style="font-family: 'Patrick Hand', cursive; font-size: larger">
            Queremos proporcionarle una experiencia de bienestar, relajante y restauradora que equilibre el 
            cuerpo, la mente y el alma.
        </p>
    </div>
    <div class="container-fluid">
        <h1 style="color: beige; text-align: center; padding: 5px ;background-color: black; font-family: 'Josefin Sans', sans-serif;">
            Reservas anticipadas
        </h1>
        <p style="font-family: 'Patrick Hand', cursive; font-size: larger">
            Nuestro menú cuenta con una exquisita selección de platillos nacionales e internacionales, 
			así como exclusivas recetas de la cocina del Cher, con las que Usted puede deleitar 
			su paladar.
        </p>
    </div>
    <div class="container-fluid">
        <h1 style="color: beige; text-align: center; padding: 5px ;background-color: black; font-family: 'Josefin Sans', sans-serif;">
            <span style="color: aqua;">15</span> Años de Experiencia
        </h1>
        <p style="font-family: 'Patrick Hand', cursive; font-size: larger">
            Arquitectura, integramos todos los ambientes visualmente y combinamos acabados rústicos 
			que permiten tener una armonía con el entorno ecológico. Accesibilidad a ambientes de calidad 
			en una zona geográfica que integra naturaleza, clima y diversión ideal para una estadía 
			agradable.
        </p>
    </div>
    
    
</div>