<div class="slider">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="/ban4.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Lugar Para descanzar</h5>
                    <p>Es importante que te sientas feliz y relajado por eso nosotros buscamos eso para ti.</p>
                </div>
            </div>
        </div>
    </div>