<div class="container-fluid" style="background-color: rgb(146, 228, 166); padding: 5px; margin-top: 2px;">
    <div class="row">
        <div class="col align-self-start">
            <h2
                style="background-color: rgba(62, 228, 104, 0.89); text-align: center; border: 2px solid black; border-radius: 50px 20px; padding: 5px;">
                Reservaciones:
            </h2>
            <p style="text-align: justify; color: black;">
                <b>
                    Nuestros huéspedes disfrutan de la privacidad, confort y delicado gusto de las habitaciones, diseñadas
                    con un balcón que convive con la naturaleza, combina la fresca brisa y el bamboleo de las palmeras.
                    Equipadas con aire acondicionado con control individual, mini-bar, T.V. por cable con control remoto,
                    teléfono, caja de seguridad, baño privado y amenidades. Además las Junior Suites cuentan con jacuzzi
                    privado.
                </b>
            </p>
        </div>
        <div class="col align-self-center">
            <h2
                style="background-color: rgba(62, 228, 104, 0.89); text-align: center; border: 2px solid black; border-radius: 50px 20px; padding: 5px;">
                Restaurante:
            </h2>
            <p style="text-align: justify;">
                <b>
                    Nuestro menú cuenta con una exquisita selección de platillos nacionales e internacionales,
                    así como exclusivas recetas de la cocina del Cher, con las que Usted puede deleitar su paladar.
                </b>
            </p>
        </div>
        <div class="col align-self-end">
            <h2
                style="background-color: rgba(62, 228, 104, 0.89); text-align: center; border: 2px solid black; border-radius: 50px 20px; padding: 5px;">
                Autos:
            </h2>
            <p style="text-align: justify;">
                <b>
                    Comprometidos con el servicios, Hotel Dreams se compromete a dar in transporte seguro y comodo
                    no solo extendiendo de un punto a a un punto b te ofrece servicios personalizados asi como la
                    estabilidad de intinerario.
                </b>
            </p>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: rgb(0, 0, 0); padding: 5px; margin-top: 1px;">
    <div class="row">
        <div class="col-9" style="margin-left: auto; margin-right: auto;">.
            <h2
                style="background-color: rgba(45, 215, 238, 0.8); text-align: center; border: 2px solid black; border-radius: 20px; padding: 5px;">
                Habitaciones
            </h2>
        </div>
        <div class="col-4" >
            <br/>
            <br/>
            <br/>
            <br/>
            <h3 style="color: rgb(169, 208, 243);">Habitacion Doble<span> Q.500/Noche </span></h3>
			<p style="color: aliceblue;">Habitacion frezca con habiente agradable con 2 camas para tu comodidad
			    ideal para pasar en familia
			</p>
            <ul style="color: aliceblue;">
				<li>Adultos: 3</li>
				<li>Instalaciones: Armario con perchas, Caja fuerte personal digital, TV de pantalla plana HD
					(incluye TV vía satélite), Teléfono</li>
				<li>Tamaño: 30m²</li>
				<li>Camas: 2</li>
				<li>Categoria: Doble, simple</li>
        </div>
        <div class="col-6">
            <img src="/doble.jpg" alt="">
        </div>
        <div class="col-4">
            <br/>
            <br/>
            <br/>
            <br/>
            <h3 style="color: rgb(169, 208, 243);">Habitacion Simple<span> Q.300/noche </span></h3>
			<p style="color: aliceblue;">Habitacion Fresca, comoda ideal para descanzar, ambiente calmado
			</p>
            <ul style="color: aliceblue;">
				<li>Adultos: 2</li>
                <li>Instalaciones: Armario con perchas, Caja fuerte personal digital, TV de pantalla plana HD
                (incluye TV vía satélite), Teléfono</li>
                <li>Tamaño: 30m²</li>
                <li>Camas: 1</li>
                <li>Categoria: Doble, Simple</li>
        </div>
        <div class="col-6">
            <img src="/simple.jpg" alt="">
        </div>

        <div class="col-4" >
            <br/>
            <br/>
            <br/>
            <br/>
            <h3 style="color: rgb(169, 208, 243);">Habitacion Triple<span> Q.800/Noche </span></h3>
			<p style="color: aliceblue;">Habitacion frezca con habiente agradable con 3 camas para tu comodidad
			    ideal para pasar en familia
			</p>
            <ul style="color: aliceblue;">
				<li>Adultos: 6</li>
				<li>Instalaciones: Armario con perchas, Caja fuerte personal digital, TV de pantalla plana HD
					(incluye TV vía satélite), Teléfono</li>
				<li>Tamaño: 50m²</li>
				<li>Camas: 3</li>
				<li>Categoria: Triple</li>
        </div>
        <div class="col-6">
            <img src="/triple.jpg" alt="">
        </div>
        <div class="col-4">
            <br/>
            <br/>
            <br/>
            <br/>
            <h3 style="color: rgb(169, 208, 243);">Habitacion Suite<span> Q.1200/noche </span></h3>
			<p style="color: aliceblue;">Habitacion de lujo, comoda ideal para consentirte, ambiente especializado
			</p>
            <ul style="color: aliceblue;">
				<li>Adultos: 6</li>
                <li>Instalaciones: Armario con perchas, Caja fuerte personal digital, TV de pantalla plana HD
                (incluye TV vía satélite), Teléfono, jacuzzi, mini-bar</li>
                <li>Tamaño: 80m²</li>
                <li>Camas: 1</li>
                <li>Categoria: Suite</li>
        </div>
        <div class="col-6">
            <img src="/suite.jpg" alt="">
        </div>

        
        
    </div>
</div>